<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
=======
    <title>DevcampPortfolio</title>
    <%= csrf_meta_tags %>
>>>>>>> 12664c85ac7507a63722e69130e7e6fa15402e04

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
